.form-control {
  margin: 0.5rem;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  line-height: 2.3rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 0 0.5rem;
}

.form {
  width: 40rem;
  max-width: 90%;
  margin: 3rem auto;
  background-color: #f8f8f8;
  padding: 1rem;
}
