.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  background-color: #f8f8f8;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 1rem 0;
  padding: 0.5rem;
  font-weight: 600;
  line-height: 2rem;
  cursor: pointer;
}

.users li:hover {
  color: white;
  background-color: red;
}
