.button {
  padding: 0.7rem;
  width: 100%;
  border-radius: 12px;
  border: none;
  font: inherit;
  font-weight: 600;
  color: white;
  background-color: rgb(53, 120, 244);
  cursor: pointer;
}

.button:hover {
  opacity: 80%;
}

.button:active {
  opacity: 50%;
}
